/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

body {
  background-color: rgb(239, 166, 190);

  margin: 0;
  font-family: 'Poppins';
}

.container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
}

.workout-detail {
  width: 75%;
  padding: 10px;
  background-color: aquamarine;
}

.workout-detail table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
}

#day th {
  text-align: center;
  color: gray;
  font-size: 2rem;
  border: none;
  padding-bottom: 20px;
}

.workout-form {
  width: 25%;
  background-color: goldenrod;
  padding: 10px;
}

.workout-form form {
  width: 100%;
}

.workout-form label,
input,
select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.workout-form input,
select {
  padding: 7px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form h3 {
  text-align: center;
}

form button {
  border: 0;
  width: 100%;
  background-color: gray;
  color: #fff;
  padding: 10px;
  font-family: 'Poppins';
  border-radius: 4px;
  cursor: pointer;
}
